*{
    padding: 0;
    margin: 0;
}

body{
    background-color: dimgray;
}

.about-1{
    margin: 30px;
    padding: 5px;
}

.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}

.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0,0, 0, 0.6);
}

.about-item i{
    font-size: 43px;
    margin: 0;
} 

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
}

.about-item:hover{
    background-color: #5fbff9;
}

.about-item:hover i,h3,p{
    color: #fff;
}

.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover i{
    transform: translateY(-20px);
}

.about-item:hover i,h3,hr{
    transition: all 400ms ease-in-out;
}
