*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
}



.about-1{
    margin: 30px;
    padding: 5px;
}

.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}

.about-1 p{
    text-align: center;
    padding: 3px;
    color: black;
}

.img1{
    width: 100%;
    height: 300px;
}


.list{
    width: 800px;
    margin: 40px auto;
    font-weight: 550;
}  

.list1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12px;
}
.list1 ul li{
    list-style: none;
    margin: 0;
    margin-right: 40px;
}
.list1 ul li a{
    text-decoration: none;
    color: black;
}
.list1 ul li a:hover{
    color: #5154ff;
}

 
.section_wrapper{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0 2px 15px 2px #d6d6d6;
    border-radius: 8px;
}

.text_section{
    color: black;
   
}

.text_section_right{
    margin: 0;
    margin-left: 12px;
}

.text_section h5{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
   
}

.text_section p{
    font-size: 12px;
    color: #929292;
    text-align: justify;
}

.text_section button{
    background-color: #10b2d2 !important;
    color: #fff !important;
    border: none;
    padding: 8px;
    width: 100px;
    border-radius: 4px;
}

.text_section button:hover{
    background-color: #59c0d4;
}

.image_section{
    margin-left: 12px;
}


.image_section img{
    width: 350px;
    height: 100%;
}

.image_section_left{
    margin: 0;
    margin-right: 12px;
}


