*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
}



.about-1{
    margin: 30px;
    padding: 5px;
}

.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}

.about-1 p{
    text-align: center;
    padding: 3px;
    color: black;
}

.img1{
    width: 100%;
}

.about-2{
    display: flex;
    flex-direction: column;
}

.list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;  
    z-index: 40; 
    font-size: large;
    margin-bottom: 50px;
}

.first-list ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.second-list ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.list-item ul li{
    list-style: none;
    margin: 0;
    margin-right: 40px;
}

.list-item ul li a:hover{
    color: #c00f76;
}

.list-item ul li a{
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    color: black;
}

.horizon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizon.wrapper {
    padding: 20px 0px;
}

.about-2{
    margin-bottom: 20px;
}


.about-item{
    background-color: rgb(85, 6, 61);
    padding: 200px,100px;
    box-shadow: 0 0 9px rgba(0,0, 0, 0.6);
}

.about-item i{
    font-size: 43px;
    margin: 0;
} 

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 60px;
    height: 3px;
    background-color: #ac0e77;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
}

.about-item:hover{
    background-color: #bb0fdd;
}

.about-item:hover i,h3,p{
    color: #fff;
}

.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover i{
    transform: translateY(-20px);
}

.about-item:hover i,h3,hr{
    transition: all 400ms ease-in-out;
}
