label {
  color: #5650f5 !important;
}
input,
select {
  border-radius: 50px !important;
}

input,
select {
  color: #b5bddb;
}

input,
textarea,
select {
  border: 1px solid #e2e2e2;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
}

input:focus-visible {
  border: 1px solid #f4f6fc !important;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b5bddb;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b5bddb;
}

input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #b5bddb;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #b5bddb;
}

.error_txt {
  font-family: calibri;
  font-size: 14px;
  text-align: left;
  margin-bottom: 12px;
  color: #dd3f42 !important;
}
