label {
  color: #5650f5 !important;
}
input,
select {
  border-radius: 50px !important;
}

input,
select {
  color: #b5bddb;
}

input,
textarea,
select {
  width: 90%;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 8px;
  background-color: #f2f2f2;
  padding: 12px !important;
  font-size: 16px !important;
  border: none;
  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 10px;
  color: #4d4d4d;
  font-size: 14px;
  padding: 5px 15px;
  box-shadow: none;
  font-weight: 300;
  resize: none;
}

.allCheckBox input{
  width: 8px !important;
  height: 8px !important;
  border-radius: 15px;
}


input:focus-visible {
  border: 1px solid #f4f6fc !important;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b5bddb;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b5bddb;
}

input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #b5bddb;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #b5bddb;
}

.short_input25 input {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.error_txt {
  font-family: calibri;
  font-size: 14px;
  text-align: left;
  margin-bottom: 12px;
  color: #dd3f42 !important;
}

.group_inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group_inputs .box {
  flex: 1;
  margin: 0 10px;
}
