.main_banner {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-image: url(../resource/image/masthead.jpg),
    linear-gradient(#666666b8, #0e0d0d21);
  background-blend-mode: overlay;
}

.banner_content_wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.banner_content_wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.3em;
  line-height: 1.1;
  margin: 0 0 0.3em;
  color: #fff !important;
  text-shadow: -1px -1px 5px black;
}

.banner_text_section {
  width: 53%;
  text-align: left;
  position: relative;
  top: 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
button.primary_btn.main-btn:hover {
  background-color: transparent !important;
  border: 3px solid #fff !important;
}
.banner_text_section p {
  font-size: 23px;
  line-height: 1.5em;
  margin-top: 0;
  color: #fff;
  text-shadow: -1px -1px 5px black;
  text-align: justify;
}

.banner_img_section {
  width: 45%;
  text-align: center;
}

.banner_img_section img {
  max-width: 100%;
  height: 500px;
  object-fit: contain;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption h4 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 25px;
  text-shadow: 0px 0px 2px #484848;
  font-family: "Inter", sans-serif;
}

.carousel-caption p {
  width: 80%;
  padding: 30px 0px;
  font-size: 25px;
  line-height: 1.9;
  letter-spacing: 5;
  font-weight: 500;
  margin: 0px auto !important;
  text-align: center;
}

.carousel-caption {
  position: absolute;
  top: 35%;
  right: 15%;
  bottom: 10.25rem;
  left: 15%;
  padding-top: 0;
  color: #fff;
  text-align: center;
}

.carousel-inner::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

a.btn-banner {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px !important;
}

a.btn-banner:hover {
  background: #fff !important;
  border: 1px solid #fff;
  color: #ff0018;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px 15px;
}

a.btn {
  background: transparent;
  border: 1px solid #ff0018;
  color: #ff0018;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}
a.btn:hover {
  background: #ff0018;
  border: 1px solid #ff0018;
  color: #fff;
}

/*about section*/
img.img-fluid {
  border-radius: 5px;
}

/* fade effect section */

.section_appear {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section_in {
  transform: translateY(0);
  opacity: 1;
}

section#about {
  padding: 100px 0px;
}

.about-text h2 {
  font-weight: 700;
  font-size: 50px;
}

.about-text {
  padding-right: 50px;
  text-align: justify;
}

section#about {
  width: 80% !important;
  margin: 0px auto;
}

.col-lg-8.col-md-12.col-12.ps-lg-5.mt-md-5 {
  margin-top: 0px !important;
}

.sub-heading h5 {
  background: -webkit-linear-gradient(#fd4766, #7644ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.sub-heading h2 {
  font-weight: 700;
  font-size: 50px;
}
/*CTA Section*/
#CTA-section {
  background-image: url("../resource/image/Banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #323232;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 25vh;
  background-blend-mode: overlay;
}
.cta-content {
  z-index: 1;
  position: relative;
  max-width: 80%;
  margin: auto;
  text-align: center;
}
.col-content h2 {
  font-size: 50px;
  letter-spacing: 2px;
  margin: 30px 0px 0px 0px;
  color: #fff;
  font-weight: 700;
}
.col-content p {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
.btn-holder {
  float: right;
}
.cta-col {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}

.col_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 20%;
}
a.cta_btn {
  padding: 12px 30px;
}
@media (min-width: 768px) {
  .cta-content {
    text-align: left;
  }
  .cta-col {
    min-height: 185px;
  }
  .col_1 {
    width: 60%;
  }
  col_2 {
    width: 38%;
  }
}
/*Services*/
div#services {
  padding-top: 100px;
}
.services .box-body {
  font-size: 50px;
  cursor: pointer;
  transition: 1s all ease;
}

i.bi-layers::before {
  color: #7644ff;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 23px;
}

i.bi.bi-display::before {
  color: #ff0003;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 23px;
}

i.bi.bi-x-diamond::before {
  color: #7644ff;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 23px;
}

.box-body {
  background: #ffffff;
  color: #787878;
  padding: 40px 30px 20px 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 9px 2px #ededed;
}

h3.box-title {
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 25px;
}

p.box-content {
  font-weight: normal;
  text-align: justify;
  font-size: 16px;
}

/*Project*/
div#project {
  padding: 80px 0px;
}

section#Project {
  padding: 0px 0px 100px 0px !important;
}

.box-body:hover {
  background-color: #137be3;
  color: #ffffff;
  box-shadow: 0 2px 12px 2px #ededed;
}

.project-body img {
  background: fixed;
  width: 100% !important;
}

.content-wrapper {
  padding: 20px 30px 10px 30px;
}
.btn-wrapper {
  float: none;
  margin: 0px auto;
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: 50px;
}


/*Responsive*/
@media only screen and (max-width: 767px) {
  .carousel-caption {
    bottom: 125px;
  }

  .carousel-caption h4 {
    font-size: 17px;
  }

  .carousel-caption p {
    width: 100%;
    line-height: 1.2;
  }

  .carousel-caption a {
    padding: 10px 15px;
  }

  /*About us*/
  section#about {
    padding: 0px !important;
  }
  .about-text.sub-heading {
    padding-right: 0px !important;
    width: 100% !important;
  }
  section#about {
    width: 95% !important;
  }
  /*service section*/
  .cta-col.col_1 {
    float: none !important;
    width: 100% !important;
    height: auto !important;
  }
  section#CTA-section {
    height: 50vh !important;
    padding: 20px 0px !important;
  }
  .cta-col.col_2 {
    width: 100% !important;
  }
  .main_section_wrapper {
    width: 95% !important;
    padding-top: 100px !important;
  }
  div#services {
    padding: 30px 0px !important;
  }
  .col-lg-8.col-md-12.col-12.ps-lg-5.mt-md-5 {
    margin-top: 0px !important;
    padding-bottom: 50px;
  }
  .main_section_wrapper {
    padding-top: 0px !important;
  }
  .carousel-caption {
    width: 95% !important;
    left: 0px !important;
    right: 0px !important;
    padding: 0px !important;
  }
  .carousel-caption p {
    color: #000 !important;
    padding-bottom: 30px !important;
    border-radius: 5px !important;
  }
  .carousel-caption h4 {
    color: #000 !important;
  }
  a.btn-banner {
    background: #000 !important;
  }
  div#carousel {
    height: 550px !important;
  }
  .col-content h2 {
    font-size: 30px !important ;
    margin: 30px 0px 30px 0px;
  }
  .sub-heading h2 {
    font-size: 30px !important;
  }
  .main_section_wrapper {
    padding-bottom: 20px !important;
  }

  .banner_content_wrapper {
    flex-direction: column !important;
    width: 100% !important;
  }

  .banner_text_section {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 50px !important;
  }

  .banner_img_section {
    width: 100% !important;
  }
  .main_banner.banner-wrapper p {
    width: 90% !important;
    margin: 0px auto !important;
    text-align: justify;
    padding: 20px !important;
}
.main_banner.banner-wrapper h2 {
  padding-top: 50px !important;
  font-size: 55px !important;
}
.main_banner.banner-wrapper {
  height: auto !important;
}
}
