#rect1,
#rect5,
#rect11 {
  animation: moveLeftToRight 800ms ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

#rect2,
#rect8,
#rect6 {
  animation: moveRightToLeft 800ms ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

#rect7,
#rect3,
#rect9 {
  animation: moveLeftToRight 1s ease-in-out infinite alternate;
  animation-delay: 0.75s;
}

#rect10,
#rect4,
#rect12 {
  animation: moveRightToLeft 1s ease-in-out infinite alternate;
  animation-delay: 0.75s;
}

@keyframes moveLeftToRight {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(30px);
  }
}

@keyframes moveRightToLeft {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(10px);
  }
}
