#rect1,
#rect5,
#rect11 {
  animation: moveLeftToRight 800ms ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

#rect2,
#rect8,
#rect6 {
  animation: moveRightToLeft 800ms ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

#rect7,
#rect3,
#rect9 {
  animation: moveLeftToRight 1s ease-in-out infinite alternate;
  animation-delay: 0.75s;
}

#rect10,
#rect4,
#rect12 {
  animation: moveRightToLeft 1s ease-in-out infinite alternate;
  animation-delay: 0.75s;
}

@keyframes moveLeftToRight {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(30px);
  }
}

@keyframes moveRightToLeft {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(10px);
  }
}

/*New Loader*/
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background:rgba(4,25,173,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .loader {
  width: 80px;
  height: 80px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top: 5px solid rgba(25, 152, 75, 0.9);
  animation: loader 25s linear infinite;
}

@keyframes loader {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360dge);
  }
} */
