.top_navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  z-index: 40;
  height: 50px;
  opacity: 1;
  transition: 500ms all ease;
}
.top_navigation {
  height: 70px !important;
}
.top_navigation_scroll {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 10px -2px #929292;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.top_nav_left img {
  max-width: 100px;
  max-height: 60px;
  margin-left: 40px;
}

.top_nav_right ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.top_nav_right ul li {
  list-style: none;
  margin: 0;
  margin-right: 40px;
}
.top_nav_right ul li a {
  text-decoration: none;
  color: unset;
}
.top_nav_right ul li a:hover {
  color: #5154ff;
}
.active_link {
  color: #5154ff !important;
}

.toggle_menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .toggle_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
  .toggle_menu span {
    width: 25px;
    height: 3px;
    background-color: #212121;
    border-radius: 15px;
    margin-bottom: 8px;
  }

  .top_nav_right {
    position: relative;
  }
  .top_nav_right ul {
    flex-direction: column;
    position: absolute;
    top: 59px;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 5;
    transition: right 0.5s ease-in-out;
  }

  .nav_active ul {
    right: 0 !important;
  }

  .top_nav_right ul li {
    padding: 8px;
  }
}
