.popup_form_wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.popup_form_wrapper .gray_cover {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  opacity: 0.7;
  z-index: 7;
}

.popup_form {
  width: 500px;
  max-height: 600px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 12px;
  z-index: 8;
}

.close_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}

.close_btn img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1px 1px 4px 0px #c9c9c9;
}

.hide {
  display: none;
}

.popup_form label {
  margin-bottom: 8px;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form_container .image_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container .image_wrapper .img_box {
  width: 250px;
  height: 140px;
  position: relative;
}

.form_container .image_wrapper .img_box img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}

.group_lb_img {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}

.group_lb_img_pos_ab {
  position: absolute;
  top: -21px;
  right: 140px;
  width: 100px;
}

.form_container .image_wrapper .prev_img {
  background-color: #f2f2f2;
}

.form_container .image_wrapper input[type="file"] {
  opacity: 1 !important;
  width: 200px;
  position: absolute;
  right: 20px;
}

.uploader_edit_social_media_icon_error {
  position: absolute;
  width: 247px;
  top: 50px;
  right: -4px;
}

.pop_up_edit_save_cancel_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.pop_up_edit_save_cancel_wrapper .cancel_btn {
  min-width: 150px;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  border: 3px solid #dcdcdc;
  color: #4b4b4b;
  box-shadow: 0 0 25px 0 rgb(27 64 121 / 30%);
  cursor: pointer;
}

.delete_btn {
  background-color: #dd3f42 !important;
  border: 3px solid #dd3f42;
}

.header_text_wrapper input,
.desc_text_wrapper textarea {
  width: -webkit-fill-available;
}

.reset_btn {
  min-width: 150px;
  padding: 12px;
  border-radius: 4px;
  margin-right: 24px;
  text-decoration: none;
  border: 3px solid #2aaae1;
  background-color: #2aaae1 !important;
  color: #ffffff;
  box-shadow: 0 0 25px 0 rgb(27 64 121 / 30%);
  cursor: pointer;
}
