.project{
    display: flex;
    flex-direction: column;
}
.title_top h1{
    font-size: 60px;
    margin-bottom: 50px;
}
.project_item_wrapper img{
    width: 100%;
}
.blog_wrapper{
    position: relative;
}
.blog_wrapper h3{
    text-align: justify;
} 
.blue_cover{
    background-color: lightblue;
    position: absolute;
    width: 350px;
    height: 234px;
    opacity: 0;
}
.blue_cover:hover{
    opacity: 0.3;
}

.sub_details p:last-child{
    font-size: 12px;
}
.sub_details p{
    color: #888;
}

.add_project_wrapper{
    display: flex;
    flex-direction: row;
    width: 850px;
    border: 1px solid #e4e4e4;
    padding:32px;
    justify-content: space-between;
    margin: 70px auto;
    border-radius: 8px;
    box-shadow: 0 2px 15px 2px #d6d6d6;
}
.img_upload_container{
    position: relative;
    width: 100%;
}
.img_uploader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img_uploader img{
    width: 60px;
    height: auto;
}
.img_uploader input[type="file"]{
    display: none;
}
.form_wrapper input{
    border: 1px solid #e2e2e2;
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
}
.form_wrapper input[type="text"]{
    width: 100%;
    
}
.form_wrapper input[type="date"]{
    width: 50%;
    color: #888;
}
.form_wrapper textarea{
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}
.form_wrapper label{
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
}
.form_control button{
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.form_control .save_btn{
    margin-right: 24px;
    background-color: #10b2d2;
    color: #fff;
}
.form_control .save_btn:hover{
    background-color: #59c0d4;
}
.form_control .clear_btn{
    background-color: #f5f5f5;
}
.form_control .clear_btn:hover{
    background-color: #ebebeb;
}
