.admin_panel_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.admin_panel_wrapper .admin_nav {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #1d1d42;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 6px 0px #1d1d42;
}

.admin_panel_wrapper .admin_nav h4 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.admin_nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.admin_nav ul li {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.admin_nav ul li img {
  margin-right: 20px;
  width: 24px;
}

.admin_nav ul a {
  width: 100%;
  padding: 16px 0;
  color: #aeaebb;
  text-decoration: none;
}
.admin_nav .log_out {
  position: absolute;
  bottom: 80px;
}

.admin_main_content {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f6f8fa;
}

.admin_page_header_text {
  width: 720px;
  margin: 0 auto;
}

.admin_page_header_text h3 {
  font-size: 30px;
}

.settings_section_header {
  color: #7d7d8c;
}

.admin_settings_wrapper {
  width: 720px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.collapse_section {
  width: 1000px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.collapse_section_header {
  width: 100%;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0px #cbcbcb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 3px;
  transition: 500ms all ease;
}

.collapse_section_header:hover {
  box-shadow: 0 1px 3px 2px #cbcbcb;
}
.collapse_section_header img {
  transition: 500ms all ease-in-out;
  transform: rotate(0deg);
}

.collapse_Section_active .collapse_section_header img {
  transition: 500ms all ease-in-out;
  transform: rotate(90deg);
}

.collapse_Section_active .collapse_section_body {
  min-height: 100px;
  max-height: fit-content;
  padding: 8px;
  background-color: #ffffff;
  opacity: 1;
  animation: heightReducer 2s;
  border-radius: 0 0 10px 10px;
  border: 2px solid #e2e2e2;
  border-top: none;
  transition: all 0.2s ease-out;
}

.collapse_section_body {
  width: 100%;
  min-height: 0px;
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  background-color: #ededed;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  opacity: 1;
  animation: heightReducer 2s;
  transition: 500ms all ease-in-out;
}

@keyframes mymove {
  from {
    max-height: fit-content;
  }
  to {
    max-height: 0;
  }
}

/* project styles */

.add_project_wrapper {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #e4e4e4; */
  padding: 32px;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 8px;
  /* box-shadow: 0 2px 15px 2px #d6d6d6; */
}
.img_upload_container {
  position: relative;
  width: 100%;
}
.img_uploader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img_uploader p {
  color: #80858a;
}

.img_uploader img {
  width: 60px;
  height: auto;
}
input[type="file"] {
  position: absolute;
  opacity: 0;
}

.img_uploader_wrapper {
  display: inline-block;
  position: relative;
  background-image: url(../../resource/icon/uploadIcon.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 500ms all ease-in;
}

.img_uploader_wrapper:hover {
  transform: scale(1.2);
}

.file_name {
  color: gray;
}

/* .form_wrapper input {
  border: 1px solid #e2e2e2;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
} */
.form_wrapper input:focus,
.form_wrapper input:focus-visible {
  outline: none;
  background-color: #f2f2f2;
  color: #4d4d4d;
  border: none;
  box-shadow: 0 0 0 1px #4d4d4d;
}
.form_wrapper input[type="text"] {
  width: 100%;
}
.form_wrapper input[type="date"] {
  width: 50%;
  color: #888;
}
.form_wrapper textarea {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 8px;
}
textarea::placeholder {
  font-size: 14px;
}
.form_wrapper label {
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
}
.add_project_wrapper .form_control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_control button {
  width: 150px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.form_control .save_btn {
  margin-right: 24px;
  background-color: #10b2d2;
  color: #fff;
}
.form_control .save_btn:hover {
  background-color: #59c0d4;
}
.form_control .clear_btn {
  background-color: #f5f5f5;
}
.form_control .clear_btn:hover {
  background-color: #ebebeb;
}

.error_txt {
  font-family: calibri;
  font-size: 14px;
  text-align: left;
  margin-bottom: 12px;
  color: #dd3f42 !important;
}

/* UPDATE project styles */

.update_project_desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table_wrapper {
  display: flex;
  flex-direction: row;
}
.table_wrapper table {
  /* border: 0.1px solid #888; */
  width: 100%;
  border-radius: 4px;
}
.table_wrapper td {
  text-align: center;
  /* border: 0.1px solid #888; */
  border-radius: 2px;
  /* background-color: #e2e2e2; */
  background-color: #ffffff;
  padding: 5px;
}
.table_wrapper th {
  /* border: 0.1px solid #888; */
  border-radius: 2px;
  /* background-color: #acacac; */
  background-color: #e2e2e2;
  padding: 5px;
}
.control_btn {
  width: 80px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  /* margin-right: 24px; */
  background-color: #10b2d2 !important;
  color: #fff;
  text-decoration: none;
}
.control_btn:hover {
  background-color: #59c0d4;
}

/* About styles */

/* UPDATE About styles */

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  max-width: 800px;
  width: 80%;
  padding: 30px 0px 10px 0px;
  border-radius: 30px;
  box-sizing: border-box;
}

.desc_wrapper textarea {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}
.desc_wrapper label {
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
}
.desc_wrapper {
  padding: 32px;
}
.desc_wrapper textarea {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 8px;
}
.btn_save_control {
  margin: 20px auto;
}
.btn_save_control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-area .icon {
  font-size: 100px;
}

.img-area p {
  color: #999;
}
.img-area p span {
  font-weight: 600;
}
.select-image {
  display: block;
  width: 100%;
  padding: 15px 0px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-image:hover {
  background: #005dd1;
}
input#file {
  text-align: center;
  margin: 0px auto;
  float: none;
  width: 50%;
}

.col_1 {
  width: 50%;
  float: left;
}
.col_2 {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}

button.select-image {
  width: 50%;
}

/*Admin home styles*/
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  max-width: 800px;
  width: 80%;
  padding: 30px;
  border-radius: 30px;
  box-sizing: border-box;
}

.img-area {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 13px 5px #f5f5f5;
}

.img-area .icon {
  font-size: 100px;
}
.img-area p {
  color: #999;
  margin-top: 0;
}
.img-area p span {
  font-weight: 600;
}
.select-image {
  display: block;
  width: 100%;
  padding: 15px 0px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.img-area.column.col_1 {
  margin-bottom: 0px !important;
}
button.select-image {
  min-width: 150px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin-right: 0px;
  background-color: #10b2d2 !important;
  color: #fff;
  text-decoration: none;
}
.select-image:hover {
  background: #005dd1;
}
input#file {
  text-align: center;
  margin: 0px auto;
  float: none;
  width: 70%;
}

.col_1 {
  width: 50%;
  float: left;
}
.col_2 {
  /*width: 50%;*/
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}

button.select-image {
  width: 50%;
}
.collapse_section_body {
  background: transparent;
}

input#file {
  opacity: inherit;
  position: unset;
}

/*Admin update contact info styles*/

.form_Container {
  width: 100%;
  padding: 20px;
}

.form_wrapper {
  width: 40% !important;
  float: left;
}

.form_wrapper .box {
  width: 100%;
  position: relative;
  padding: 20px;
}

.form_wrapper input {
  width: 90%;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 8px;
  background-color: #f2f2f2;
  padding: 12px !important;
  font-size: 16px !important;
  border: none;

  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 10px;
  color: #4d4d4d;
  font-size: 14px;
  padding: 5px 15px;
  box-shadow: none;
  font-weight: 300;
}

.form_wrapper .box input:focus {
  padding: 20px 10px;
  border: 1px solid #ebf0ff !important;
}

.form_wrapper .box label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-weight: bold;
  padding: 20px;
}
.btn-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}

/*Upload header details*/
.col-12.col-md-12.col-lg-4 {
  display: inline-block;
  width: 30%;
}
.upload_wrappe {
  display: inline-block;
  width: 30%;
  padding: 0px 10px;
}
.upload_wrappe input {
  width: 100%;
}

.upload_wrappe textarea {
  width: 100% !important;
  resize: none;
}

.btn_upload button {
  width: 0% !important;
  margin: 0px auto;
  margin-top: 20px;
}

form.slider_update input {
  width: 90%;
  border-radius: 15px;
  margin-top: 8px;
  background-color: #edecff;
  padding: 12px !important;
  font-size: 16px !important;
  border: none;
}

form.slider_update textarea {
  width: 90%;
  border-radius: 15px;
  margin-top: 8px;
  padding: 8px;
  background-color: #edecff;
  border: none;
}

/*slider image upload*/
.Update_Slider #file {
  width: 100% !important;
  font-size: 15px !important;
  text-align: center;
  margin: 0px auto;
}
.slider_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_save_control .save_btn:hover {
  background-color: #59c0d4;
}

/* mail */

.mail_item_wrapper {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 4px auto;
}

.mail_item_wrapper p {
  margin: 0;
  font-size: 16px;
}

.mail_item_wrapper p span {
  color: #697786;
}

.mail_header {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #eaf0f7;
  cursor: pointer;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.mail_header:hover {
  background-color: #d8e4f5;
}

.mail_body {
  display: flex;
  min-height: 100px;
  background-color: #f8f8f8;
  padding: 8px;
  transition: 500ms all ease-in;
}

.mail_body_hidden {
  display: none;
  transition: height 1s;
}

.empty {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty p {
  color: #6f7384;
}

.about_banner_img {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.prev_img {
  width: 250px;
  height: 150px;
  background-color: #000;
}
.image_wrapper {
  position: relative;
}
.uploader_edit_project_error {
  position: absolute;
  right: 15px;
  top: 60px;
  width: 225px;
  overflow: hidden;
}

/* prject add */

.project_crud_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project_crud_wrapper input[type="file"] {
  position: relative !important;
}

.project_img_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_uploader_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_upload_header_txt p {
  color: #212121;
  font-weight: 700;
}

.image_uploader_wrapper p {
  color: #212121;
}
.image_upload_icon {
  cursor: pointer;
  transition: 500ms all ease-in;
}

.image_upload_icon:hover {
  transform: scale(1.2);
}

.selected_img_view,
.selected_cover_img_view {
  display: none;
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
